www/manage/order-management/master/XML Guides/HubXML_Order_Costco.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="OrderMessageBatch">
		<xs:annotation>
			<xs:documentation>The OrderMessageBatch element is the root element for the transaction.  This element contains two attributes:
				batchNumber:  This is a required attribute which will contain a batch ID for this OrderMessageBatch.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="partnerID">
					<xs:annotation>
						<xs:documentation>The partnerID element contains the CommerceHub for the party receiving this transaction.  Contact CommerceHub to obtain this ID.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="hubOrder" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The hubOrder element represents a single purchase order.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="messageCount"/>
			</xs:sequence>
			<xs:attribute name="batchNumber" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:maxLength value="50"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="hubOrder">
		<xs:annotation>
			<xs:documentation>The hubOrder element represents a single purchase order.  This element contains the following attributes:
				type:  defines the type of order (standalone|reissue|resend)
				transactionID:  message control number.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="participatingParty">
					<xs:annotation>
						<xs:documentation>The participatingParty element contains the CommerceHub ID for the party sending the message.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="sendersIdForReceiver">
					<xs:annotation>
						<xs:documentation>The sendersIdForReceiver element contains sending party's ID for the party receiving the message.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="orderId">
					<xs:annotation>
						<xs:documentation>The orderId element contains a CommerceHub universally unique ID for an order sent to a vendor.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="lineCount">
					<xs:annotation>
						<xs:documentation>The lineCount element contains the total number of line items in the order.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="poNumber">
					<xs:annotation>
						<xs:documentation>The poNumber element contains the merchant assigned purchase order number.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="orderDate">
					<xs:annotation>
						<xs:documentation>The orderDate element contains the purchase order date according to the merchant in the CCYYMMDD format.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="shipTo">
					<xs:annotation>
						<xs:documentation>The shipTo element is an empty element.  It contains a personPlace attribute that is used to link to the personPlace section of the message that contains the ship To party information.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="billTo">
					<xs:annotation>
						<xs:documentation>The billTo element is an empty element.  It contains a personPlace attribute that is used to link to the personPlace section of the message that contains the bill To party information.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="shippingCode">
					<xs:annotation>
						<xs:documentation>The shippingCode element contains a merchant specific code that describes the shipper and level of service.  Contact CommerceHub for a complete list of codes.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="custOrderNumber">
					<xs:annotation>
						<xs:documentation>The custOrderNumber element contains the merchant assigned customer order number.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="poHdrData" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The poHdrData element contains sub-elements that describe the purchase order header.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="lineItem" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="personPlace" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="transactionID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:maxLength value="50"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="poHdrData">
		<xs:annotation>
			<xs:documentation>The poHdrData element contains sub-elements that describe the purchase order header.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="reqShipDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The reqShipDate element contains the do not ship before date made at the customers request.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="custOrderNumber" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The custOrderNumber element contains the merchant assigned customer order number.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="giftMessage" minOccurs="0">
					<xs:annotation>
						<xs:documentation>the giftMessage element contains a customer specified gift message for the order.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="lineItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="lineItemId">
					<xs:annotation>
						<xs:documentation>The lineItemId element will contain a unique ID for a line item within the order file.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="orderLineNumber">
					<xs:annotation>
						<xs:documentation>The orderLineNumber will contain a sequential line number.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="merchantLineNumber">
					<xs:annotation>
						<xs:documentation>The merchantLineNumber element will contain the merchant assigned line number.  This element is not guaranteed to contain sequential line numbers </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="qtyOrdered">
					<xs:annotation>
						<xs:documentation>The qtyOrdered element will contain the quantity ordered.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="unitOfMeasure">
					<xs:annotation>
						<xs:documentation>The unitOfMeasure element will contain a unit of measure code that applies to the quantity ordered.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="description">
					<xs:annotation>
						<xs:documentation>The description element will contain a short text description or name of the product.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="description2" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The description2 element will contain a secondary description for the product.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="merchantSKU">
					<xs:annotation>
						<xs:documentation>The merchantSKU element will contain the merchant assigned SKU for the product.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="vendorSKU">
					<xs:annotation>
						<xs:documentation>The vendorSKU element will contain the vendor assigned SKU for this product.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="unitCost">
					<xs:annotation>
						<xs:documentation>The unitCost element will contain the wholesale unit cost (what the vendor charges the merchant) of a single item.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="shippingCode">
					<xs:annotation>
						<xs:documentation>The shippingCode element will contain a code that represents the carrier and sevice level of this line.  Contact CommerceHub for a complete set of codes.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="requestedArrivalDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The requestedArrivalDate element contains the date on which the customer wants the shipment to arrive.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="poLineData" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="poLineData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="unitShippingWeight" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The unitShippingWeight element will contain the per unit shipping weight of the product.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="lineReqShipDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The lineReqShipDate element will contain the do not ship before date as requested by the customer.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="giftMessage" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The giftMessage element will contain a customer specified gift message for the line item.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="personPlace">
		<xs:annotation>
			<xs:documentation>The personPlace element contains sub-elements that refer to a party involved in the transaction.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name1">
					<xs:annotation>
						<xs:documentation>The name1 element will contain the first name of the party being referenced.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="address1">
					<xs:annotation>
						<xs:documentation>The address1 element will contain the first set of address data for the party being referenced.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="address2" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The address2 element will contain the second set of address data for the party being referenced.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="city">
					<xs:annotation>
						<xs:documentation>The city element will contain the city for the party being referenced.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="state">
					<xs:annotation>
						<xs:documentation>The state element will contain the state for the party being referenced.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="country">
					<xs:annotation>
						<xs:documentation>The country element will contain the country for the party being referenced.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="postalCode">
					<xs:annotation>
						<xs:documentation>The postalCode element will contain the postal code for the party being referenced.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="postalCodeExt" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The postalCodeExt element will contain the postal code extension for the party being referenced.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="email">
					<xs:annotation>
						<xs:documentation>The email element will contain the email address for the party being referenced.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="dayPhone" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The dayPhone element will contain the day time phone number for the party being referenced.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="partnerPersonPlaceId" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The partnerPersonPlaceId element will contain an ID for the party being referenced, assigned by the party sending this message.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="personPlaceData" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="personPlaceID" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="personPlaceData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="companyName">
					<xs:annotation>
						<xs:documentation>The companyName element will contain the company name associated with the person/place data.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="partnerID">
		<xs:annotation>
			<xs:documentation>The partnerID element contains the CommerceHub for the party receiving this transaction.  Contact CommerceHub to obtain this ID.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="name" type="xs:anySimpleType" use="optional"/>
			<xs:attribute name="roleType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:enumeration value="vendor"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="messageCount">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="participatingParty">
		<xs:annotation>
			<xs:documentation>The participatingParty element contains the CommerceHub ID for the party sending the message.  The participatingParty element contains the following attributes:
				name:  The name of the business party sending the message.
				roleType:  The role of the business party sending the message.
				participationCode:  The business party's participation in this message.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="name" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:maxLength value="50"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="roleType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:enumeration value="merchant"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="participationCode">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="From:"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="sendersIdForReceiver">
		<xs:annotation>
			<xs:documentation>The sendersIdForReceiver element contains sending party's ID for the party receiving the message.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="25"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="orderId">
		<xs:annotation>
			<xs:documentation>The orderId element contains a CommerceHub universally unique ID for an order sent to a vendor.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="100"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="lineCount">
		<xs:annotation>
			<xs:documentation>The lineCount element contains the total number of line items in the order.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:positiveInteger"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="poNumber">
		<xs:annotation>
			<xs:documentation>The poNumber element contains the merchant assigned purchase order number.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="100"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="orderDate">
		<xs:annotation>
			<xs:documentation>The orderDate element contains the purchase order date according to the merchant in the CCYYMMDD format.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="shipTo">
		<xs:annotation>
			<xs:documentation>The shipTo element is an empty element.  It contains a personPlace attribute that is used to link to the personPlace section of the message that contains the ship To party information.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="personPlaceID" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="billTo">
		<xs:annotation>
			<xs:documentation>The billTo element is an empty element.  It contains a personPlace attribute that is used to link to the personPlace section of the message that contains the bill To party information.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="personPlaceID" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="reqShipDate">
		<xs:annotation>
			<xs:documentation>The reqShipDate element contains the do not ship before date made at the customers request.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="custOrderNumber">
		<xs:annotation>
			<xs:documentation>The custOrderNumber element contains the merchant assigned customer order number.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="50"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="lineItemId">
		<xs:annotation>
			<xs:documentation>The lineItemId element will contain a unique ID for a line item within the order file.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:positiveInteger"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="orderLineNumber">
		<xs:annotation>
			<xs:documentation>The orderLineNumber will contain a sequential line number.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:positiveInteger"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="merchantLineNumber">
		<xs:annotation>
			<xs:documentation>The merchantLineNumber element will contain the merchant assigned line number.  This element is not guaranteed to contain sequential line numbers </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:positiveInteger"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="qtyOrdered">
		<xs:annotation>
			<xs:documentation>The qtyOrdered element will contain the quantity ordered.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:positiveInteger"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="unitOfMeasure">
		<xs:annotation>
			<xs:documentation>The unitOfMeasure element will contain a unit of measure code that applies to the quantity ordered.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="10"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="description">
		<xs:annotation>
			<xs:documentation>The description element will contain a short text description or name of the product.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="255"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="description2">
		<xs:annotation>
			<xs:documentation>The description2 element will contain a secondary description for the product.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="80"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="merchantSKU">
		<xs:annotation>
			<xs:documentation>The merchantSKU element will contain the merchant assigned SKU for the product.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="50"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vendorSKU">
		<xs:annotation>
			<xs:documentation>The vendorSKU element will contain the vendor assigned SKU for this product.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="50"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="unitCost">
		<xs:annotation>
			<xs:documentation>The unitCost element will contain the wholesale unit cost (what the vendor charges the merchant) of a single item.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="requestedArrivalDate">
		<xs:annotation>
			<xs:documentation>The requestedArrivalDate element contains the date on which the customer wants the shipment to arrive.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="unitShippingWeight">
		<xs:annotation>
			<xs:documentation>The unitShippingWeight element will contain the per unit shipping weight of the product.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="weightUnit" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="lineReqShipDate">
		<xs:annotation>
			<xs:documentation>The lineReqShipDate element will contain the do not ship before date as requested by the customer.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name1">
		<xs:annotation>
			<xs:documentation>The name1 element will contain the first name of the party being referenced.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="100"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="address1">
		<xs:annotation>
			<xs:documentation>The address1 element will contain the first set of address data for the party being referenced.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="100"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="address2">
		<xs:annotation>
			<xs:documentation>The address2 element will contain the second set of address data for the party being referenced.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="100"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="city">
		<xs:annotation>
			<xs:documentation>The city element will contain the city for the party being referenced.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="100"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="state">
		<xs:annotation>
			<xs:documentation>The state element will contain the state for the party being referenced.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="100"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="country">
		<xs:annotation>
			<xs:documentation>The country element will contain the country for the party being referenced.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="100"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="postalCode">
		<xs:annotation>
			<xs:documentation>The postalCode element will contain the postal code for the party being referenced.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="20"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="postalCodeExt">
		<xs:annotation>
			<xs:documentation>The postalCodeExt element will contain the postal code extension for the party being referenced.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="20"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="email">
		<xs:annotation>
			<xs:documentation>The email element will contain the email address for the party being referenced.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="150"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="dayPhone">
		<xs:annotation>
			<xs:documentation>The dayPhone element will contain the day time phone number for the party being referenced.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="25"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="partnerPersonPlaceId">
		<xs:annotation>
			<xs:documentation>The partnerPersonPlaceId element will contain an ID for the party being referenced, assigned by the party sending this message.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="100"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="companyName">
		<xs:annotation>
			<xs:documentation>The companyName element will contain the company name associated with the person/place data.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="100"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="shippingCode">
		<xs:annotation>
			<xs:documentation>The shippingCode element contains a merchant specific code that describes the shipper and level of service.  Contact CommerceHub for a complete list of codes.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="100"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="giftMessage">
		<xs:annotation>
			<xs:documentation>the giftMessage element contains a customer specified gift message for the order.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="255"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
