www/manage/order-management/master/XML Guides/HubXML_Confirm_Costco.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Commerce Technologies Inc (CommerceHub) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="ConfirmMessageBatch">
		<xs:annotation>
			<xs:documentation>The ConfirmMessageBatch element is the root element of the message.			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="partnerID">
					<xs:annotation>
						<xs:documentation>The partnerID element will contain the CommerceHub assigned ID for the party sending this message.	</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="hubConfirm" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The hubConfirm element is used to wrap the details of a single confirmation.	</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="messageCount">
					<xs:annotation>
						<xs:documentation>The messageCount element will contain a count of all hubConfirm elements included in the message.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="hubConfirm">
		<xs:annotation>
			<xs:documentation>
				The hubConfirm element is used to wrap the details of a single confirmation.
				The type and transactionID attributes are not used.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="participatingParty">
					<xs:annotation>
						<xs:documentation>The participatingParty element will contain the CommerceHub assigned ID for the party receiving this message.
				One of the following values should be used:
				costco
			</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="partnerTrxID">
					<xs:annotation>
						<xs:documentation>The partnerTrxID element contains an id for a given hubConfirm assigned by the party sending the message.
		</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="partnerTrxDate">
					<xs:annotation>
						<xs:documentation>The partnerTrxDate element contains the date of this transaction as assigned by the party sending the message.
				The value of this element is not a standard XML formatted date.  The date passed here is required to be in the CCYYMMDD.		</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:sequence>
					<xs:element ref="poNumber">
						<xs:annotation>
							<xs:documentation>The poNumber element contains the purchase order number as issued by the merchant in the PO.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:element ref="trxData" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The trxData element is used to contain sub-elements related to this transaction.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="hubAction" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The hubAction element contains sub-elements that describe the action being taken on an order and it's supporting information.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="packageDetail" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The packageDetail element is used to contain sub-elements that describe the package being reported.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="trxData">
		<xs:annotation>
			<xs:documentation>
				The trxData element is used to contain sub-elements related to this transaction.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vendorsInvoiceNumber" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The vendorsInvoiceNumber element contains the invoice number as assigned by the sender of this document.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="hubAction">
		<xs:annotation>
			<xs:documentation>
				The hubAction element contains sub-elements that describe the action being taken on an order and it's supporting information.
				The type and transactionItemID attributes are not used.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="action">
					<xs:annotation>
						<xs:documentation>The action element describes the action being taken on the included quantity.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="actionCode" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The actionCode element is only provided when the action element = "v_cancel" or "v_backorder".  It is used to describe the reason for the action being taken.
			CommerceHub can provide a complete list of codes that apply to this element.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:sequence>
					<xs:element ref="merchantLineNumber">
						<xs:annotation>
							<xs:documentation>The merchantLineNumber element contains the lineitem number assigned by the merchant in the PO lineitem being actioned.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:element ref="trxVendorSKU">
					<xs:annotation>
						<xs:documentation>The trxVendorSKU element contains the senders unique ID for the product being actioned.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="trxMerchantSKU">
					<xs:annotation>
						<xs:documentation>The trxMerchantSKU element contains the merchants unique ID for the product being actioned.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="trxQty">
					<xs:annotation>
						<xs:documentation>The trxQty element will contain the quantity involved in this action.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="packageDetailLink" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The packageDetailLink element is used to contain the packageDetailID attribute. 
The packageDetailLink element is only required to be provided when there is an action of "v_ship".</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="packageDetail">
		<xs:annotation>
			<xs:documentation>
				The packageDetail element is used to contain sub-elements that describe the package being reported.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="shipDate">
					<xs:annotation>
						<xs:documentation>Will contain the date that the package was shipped.
CCYYMMDD HH:MM:SS:sss</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="serviceLevel1">
					<xs:annotation>
						<xs:documentation>Contains a shipper specific code for level of service.
				A complete list of codes that apply to this element can be provided by CommerceHub.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="trackingNumber">
					<xs:annotation>
						<xs:documentation>Contains the delivery agents tracking number for this package.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="shippingWeight">
					<xs:annotation>
						<xs:documentation>Contains the weight of the package.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="packageDetailID" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>Will be referenced by packageDetailLink element(s) to associate this element with message line(s).</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="partnerID">
		<xs:annotation>
			<xs:documentation>
			The partnerID element will contain the CommerceHub assigned ID for the party sending this message.
			The roleType attribute must be included and it must contain a value of vendor.
			The name attribute is not used.
		</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="roleType" use="optional" fixed="vendor">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="vendor"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="messageCount">
		<xs:annotation>
			<xs:documentation>
			The messageCount element will contain a count of all hubConfirm elements included in the message.
		</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:positiveInteger"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="participatingParty">
		<xs:annotation>
			<xs:documentation>
				The participatingParty element will contain the CommerceHub assigned ID for the party receiving this message.
				One of the following values should be used:
				costco
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="roleType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="merchant"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="participationCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="To:"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="partnerTrxID">
		<xs:annotation>
			<xs:documentation>
			The partnerTrxID element contains an id for a given hubConfirm assigned by the party sending the message.
		</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="partnerTrxDate">
		<xs:annotation>
			<xs:documentation>
				The partnerTrxDate element contains the date of this transaction as assigned by the party sending the message.
				The value of this element is not a standard XML formatted date.  The date passed here is required to be in the CCYYMMDD.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="poNumber">
		<xs:annotation>
			<xs:documentation>
			The poNumber element contains the purchase order number as issued by the merchant in the PO.
		</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vendorsInvoiceNumber">
		<xs:annotation>
			<xs:documentation>
			The vendorsInvoiceNumber element contains the invoice number as assigned by the sender of this document.
		</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="action">
		<xs:annotation>
			<xs:documentation>
			The action element describes the action being taken on the included quantity.
		</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:enumeration value="v_ship"/>
				<xs:enumeration value="v_cancel"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="actionCode">
		<xs:annotation>
			<xs:documentation>
			The actionCode element is only provided when the action element = v_cancel or v_backorder.  It is used to describe the reason for the action being taken.
			CommerceHub can provide a complete list of codes that apply to this element.
		</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="merchantLineNumber">
		<xs:annotation>
			<xs:documentation>
			The merchantLineNumber element contains the lineitem number assigned by the merchant in the PO lineitem being actioned.
		</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="trxVendorSKU">
		<xs:annotation>
			<xs:documentation>
			The trxVendorSKU element contains the senders unique ID for the product being actioned.
		</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="trxMerchantSKU">
		<xs:annotation>
			<xs:documentation>
			The trxMerchantSKU element contains the merchants unique ID for the product being actioned.
		</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="trxQty">
		<xs:annotation>
			<xs:documentation>
			The trxQty element will contain the quantity involved in this action.
		</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:positiveInteger"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="packageDetailLink">
		<xs:annotation>
			<xs:documentation>	
		The packageDetailLink element is used to contain the packageDetailID attribute.  The packageDetailID is used to contain a value that links to the packageDetail section of the message.  The value passed in the packageDetailID must begin with a letter and may be followed by any number of letters, digits, hyphens, underscores, colons, and periods.
		The packageDetailLink element is only required to be provided when there is an action of v_ship.
		</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="packageDetailID" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation> The packageDetailID is used to contain a value that links to the packageDetail section of the message.  The value passed in the packageDetailID must begin with a letter and may be followed by any number of letters, digits, hyphens, underscores, colons, and periods.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="shipDate" type="xs:string">
		<xs:annotation>
			<xs:documentation>
			The shipDate element, when as a child of the packageDetail element, will contain the date that the package was shipped.
			The value of this element is not a standard XML formatted date.  The date passed here is required to be in the CCYYMMDD.
		</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="shippingWeight">
		<xs:annotation>
			<xs:documentation>
				The shippingWeight element, when used as a child of the shipmetDetail, will contain the weight of the complete shipment.
				The shippingWeight element, when used as a child of the packageDetail, will contain the weight of the complete shipment.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="weightUnit" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="serviceLevel1">
		<xs:annotation>
			<xs:documentation>
				The serviceLevel1 element, when used as a sub-element of packageDetail, contains a shipper specific code for level of service.
				A complete list of codes that apply to this element can be provided by CommerceHub.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:minLength value="1"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="trackingNumber">
		<xs:annotation>
			<xs:documentation>
				The trackingNumber element is not used as a sub-element of shipmentDetail.
				The trackingNumber element, when used as a sub-element of packageDetail, contains the delivery agents tracking number for this package.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
